h1{ 
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh; /* Adjust this value as needed */
    color: #ffffff; /* Set the desired font color */
    text-shadow: 3px 3px 0px #000000, 5px 5px 0px #ffffff; /* Adjust the shadow positions and colors */
    transform: skew(-1deg, -1deg); /* Adjust the skew angles */
  }

body {
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  nav {
   
  }
  a {
    margin-right: 180px;
    color: #f08804;
    font-size: 20px;
  }
  form {
    text-align: right;
    font-size: 25px;
  }
  